In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.0.3'

In [3]:
pd.options.display.float_format = '{:.2f}'.format

In [15]:
np.set_printoptions(precision=1)

In [17]:
x1 = np.random.rand(2,5)*10
x1

array([[9.3, 6.1, 5.6, 5.1, 4.3],
       [6. , 5.8, 6.2, 2.4, 3.9]])

In [13]:
x2 = np.random.rand(2,5)*-1
x2

array([[-0.08, -0.14, -0.64, -0.68, -0.81],
       [-0.95, -0.3 , -0.7 , -0.84, -0.15]])

In [19]:
np.concatenate([x1,x2],axis=1)

array([[ 9.3,  6.1,  5.6,  5.1,  4.3, -0.1, -0.1, -0.6, -0.7, -0.8],
       [ 6. ,  5.8,  6.2,  2.4,  3.9, -0.9, -0.3, -0.7, -0.8, -0.1]])

In [21]:
s1 = pd.Series(x1[0], index=['a','b','c','d','e'])
s1

a   9.31
b   6.07
c   5.59
d   5.09
e   4.34
dtype: float64

In [22]:
s2 = pd.Series(x1[0], index=['c','d','e','f','g'])
s2

c   9.31
d   6.07
e   5.59
f   5.09
g   4.34
dtype: float64

In [24]:
pd.concat([s1,s2], axis=1)

     0    1
a 9.31  nan
b 6.07  nan
c 5.59 9.31
d 5.09 6.07
e 4.34 5.59
f  nan 5.09
g  nan 4.34

In [25]:
s1.reset_index()

  index    0
0     a 9.31
1     b 6.07
2     c 5.59
3     d 5.09
4     e 4.34

In [26]:
s1.reset_index(drop=True)

0   9.31
1   6.07
2   5.59
3   5.09
4   4.34
dtype: float64

In [31]:
s3 = s1.reset_index(drop=True)
s3
s4 = s2.reset_index(drop=True)
s4

s5 = pd.concat([s3,s4], axis=1)
s5

     0    1
0 9.31 9.31
1 6.07 6.07
2 5.59 5.59
3 5.09 5.09
4 4.34 4.34

In [32]:
df1 = pd.DataFrame(np.random.rand(3,2)*10,columns=['a','b'])
df1

NameError: name 'a' is not defined